{% extends 'layout.html' %}
{% block form %}
{{script|safe}}
<section>
	<header><h1>Fried Chicken Index</h1><br></header>
	<form action="{{ url_for('fci_form')}}" method='POST'>
		<p>Ever wondered how attractive is your area? Someone once told me the more fried chicken shops in an area the more dodgy it is. I don't think chicken shops make an area dodgy, but if there are many of them close it is a sign the area is still more affordable for rent and house purchase than others. That's why I created the <strong><em>Fried Chicken Index</em></strong>. If you are curious as to how this is calculated check-it out on <a href="https://github.com/ciacicode/fci"target="_blank">Github</a></p><br>
		<p>Enter your London postcode:</p>
		<section>
			{% if error %}
			<p class="error"><strong>Error: </strong>{{error}}</p>
			{% endif %}
			{{form.csrf_token}}
			{{form.postcode}}
			{{form.submit}}
		</section>
	</form>	
</section> 

{% endblock %}

{% block result %}
	
	<section>
		<h4>{{result}}</h4>	
	</section>
	
{% endblock %}

{% block map %}
    {{map|safe}}
{% endblock %}