{% extends "layout.html" %}
{% block nav %}
<nav class="navbar">
        <div class="container">
            <ul class="navbar-list">
                <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('index') }}">Home</a></li>
                <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('fci_form') }}">FCI</a></li>
                <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('show_entries') }}">Blog</a></li>
                {% if not session.logged_in %}
                <li class="navbar-item"><a class="navbar-link" href="{{ url_for('login') }}">Log in</a></li>
                {% else %}
                <li class="navbar-item"><a class="navbar-link" href="{{ url_for('logout') }}">Log out</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}