{% extends 'layout.html' %}
{% block personality %}
<section>
	<header><h1>Discover your Personality</h1><br></header>
	<form action="{{ url_for('personality')}}" method='POST'>
		<p>Paste your CV here as text</p>
		<section>
			{% if error %}
			<p class="error"><strong>Error: </strong>{{error}}</p>
			{% endif %}
			{{form.csrf_token}}
			{{form.profile(rows='800',cols='150')}}
			{{form.submit}}
		</section>
		<p>Powered by IBM Watson Personality Insights</p>
	</form>
</section>
<section>
	<div class="row">
		<div class="two-thirds column"> {% block radar_chart %} {% endblock %}</div>
	</div>
</section>

{% endblock %}
