{% extends 'layout.html' %}
{% block personality %}
<section>
	<header><h1>Discover your Personality</h1><br></header>
	<form action="{{ url_for('personality')}}" method='POST'>
		<p>Paste text on which you want the personality algorithm to run. Try it with a CV, a dump of tweets or social posts.</p>
		<section>
			{% if error %}
			<p class="error"><strong>Error: </strong>{{error}}</p>
			{% endif %}
			{{form.csrf_token}}
			{{form.profile(class_='u-full-width u-half-height')}}
			{{form.submit(class="button-primary")}}
		</section>
		<p>Check what <a href="https://www.ibm.com/watson/developercloud/doc/personality-insights/models.html" target="_blank">personality models</a> mean.Powered by IBM Watson Personality Insights.</p>
	</form>
</section>
{% endblock %}
