{% extends "layout.html" %}
{% block post %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=50 name=title>
        <dt>Text:
        <dd><textarea name=text rows=15 cols=100></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <tr class=entries>
  {% for post in paginated.items %}
    <td><h1>{{ post.title }}</h1></td>
    <td><p>{{ post.text|safe }}</p></td>
  {% else %}
    <em>Unbelievable.  No entries here so far</em>

  {% endfor %}
  </tr>

<div class=pagination>
{% if paginated.has_prev %}
    <a href="{{ url_for('show_entries', page=paginated.prev_num) }}">Previous</a>
{% else %}
    First page
{% endif %}
{% if paginated.has_next %}
    <a href="{{ url_for('show_entries', page=paginated.next_num) }}">Next</a>
{% else %}
    Last page
{% endif %}
</div>
{% endblock %}