{% extends 'layout.html' %}
{% block homecontent %}
<section>
	 <header><h1>Welcome to Khaleesicode</h1></header><br>
	 <p>This is a Flask application that I use to play around with Python code. I will create applications with python
         and will embed them in this flask site to display them. At the moment there are only two working applications
         on this site:</p>
        <ul>
            <li><a href="{{ url_for('fci_form') }}">FCI</a>, a silly yet fun app that shows the percentage of
                Fried Chicken Shops on all restaurants in a specific London Postcode.</li>
            <li>A Microblog application</li>
        </ul>
    <h5>About Me</h5>
    <p>My name is Maria Cerase, i am a product manager working in London's tech start-up scene and Khaleesicode is my techy side. </p>
</section>
{% endblock %}

{% block homemedia %}
<h1>{ }</h1>
{% endblock %}


