{% extends 'layout.html' %}
{% block homecontent %}
<section class = 'post'>
	<header class='post-header'><h2 class="post-title">Welcome to Khaleesicode.</h2></header><br>
	 <p> This is a flask application that I use to play around with python code. The only working application at the moment is the FCI, a silly yet fun app that shows how many Fried Chicken Shops there are in a specific London Postcode</p>
</section>
{% endblock %}

{% block homemedia %}
<p>I shall place a picture here</p>
{% endblock %}
