<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='skeleton.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Khaleesicode</title>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
          {% for message in messages %}
          <li> {{message}}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </head>
  <body>
  <div class="container">
  <div class="navbar-spacer"> </div>
    <nav class="navbar"> 
    <div class="container">
      <ul class="navbar-list">
        <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('index') }}">Home</a></li>
        <li class="navbar-item"> <a class="navbar-link" href="{{ url_for('fci_form') }}">FCI</a></li>
      </ul>
    </div>
    </nav>

    <div class="row">
      <div class="two-thirds column">
        {% block homecontent %}{% endblock %}
      </div>
      <div class="one-third column">
        {% block homemedia %} {% endblock %}
      </div>
    </div>
    <div class="row">
      <div class="two-thirds column">{% block form %} {% endblock %} </div>
      <div class="one-third column">{% block result %} {% endblock %}</div>
    </div>
    </div>
  </body>
</html>



	
