{% extends "layout.html" %}
{% block post %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <tr class=entries>
  {% for entry in entries %}
    <td><h1>{{ entry.title }}</h1></td>
    <td><p>{{ entry.text|safe }}</p></td>

  {% else %}
    <em>Unbelievable.  No entries here so far</em>

  {% endfor %}
  </tr>
{{pagination.links}}
{% endblock %}

{% block js %}
  $('#entries-url').addClass('active');
{% endblock %}